# To Ignore


# Large Binaries
*.pb
*.pbtxt
*.ckpt*
*.pyc
*.record
*.tar.gz
*.tar*
.DS_Store
*.event*
.zshrc
*.png
*.jpg
*.csv
*.json
*.npy

# binaries
*.b
*.kml

# An output file
nohup.out

# To be ignored hidden files
*.nfs*

# Other Repos
zsh/*
axel/*
zsh
cocoapi/*
.ipynb_check*/
satellite_data_samples/*
profiler-ui/*
profiler-ui
libspatialindex/*
layer_models/cifar-10/cifar-10-batches-py/*
# Object-Detection/models/research

Object-Detection/models/research/adversarial_crypto/*
Object-Detection/models/research/adversarial_text/*
Object-Detection/models/research/astronet/*
Object-Detection/models/research/attention_ocr/*
Object-Detection/models/research/audioset/*
Object-Detection/models/research/autoencoder/*
Object-Detection/models/research/brain_coder/*
Object-Detection/models/research/cognitive_mapping_and_planning/*
Object-Detection/models/research/compression/*
Object-Detection/models/research/deeplab/*
Object-Detection/models/research/delf/*
Object-Detection/models/research/differential_privacy/*
Object-Detection/models/research/domain_adaptation/*
Object-Detection/models/research/fivo/*
Object-Detection/models/research/gan/*
Object-Detection/models/research/im2txt/*
Object-Detection/models/research/inception/*
Object-Detection/models/research/learned_optimizer/*
Object-Detection/models/research/learning_to_remember_rare_events/*
Object-Detection/models/research/learning_unsupervised_learning/*
Object-Detection/models/research/lexnet_nc/*
Object-Detection/models/research/lfads/*
Object-Detection/models/research/lm_1b/*
Object-Detection/models/research/marco/*
Object-Detection/models/research/maskgan/*
Object-Detection/models/research/minigo/*
Object-Detection/models/research/namignizer/*
Object-Detection/models/research/neural_gpu/*
Object-Detection/models/research/neural_programmer/*
Object-Detection/models/research/next_frame_prediction/*
Object-Detection/models/research/output_xxx/*
Object-Detection/models/research/pcl_rl/*
Object-Detection/models/research/ptn/*
Object-Detection/models/research/qa_kg/*
Object-Detection/models/research/real_nvp/*
Object-Detection/models/research/rebar/*
Object-Detection/models/research/resnet/*
Object-Detection/models/research/skip_thoughts/*
Object-Detection/models/research/street/*
Object-Detection/models/research/swivel/*
Object-Detection/models/research/syntaxnet/*
Object-Detection/models/research/tcn/*
Object-Detection/models/research/tensorrt/*
Object-Detection/models/research/textsum/*
Object-Detection/models/research/transformer/*
Object-Detection/models/research/video_prediction/*
